In [1]:
# Import dependencies
import pandas as pd

In [2]:
# Import excel file and create DataFrame
file_to_load = "ghgp_data_by_year.xlsx"
oil_gas_df = pd.read_excel(file_to_load, sheet_name="Onshore Oil & Gas Prod.", header=None)
oil_gas_df.head(10)

,0,1,2,3,4,5,6,7,8,9,...,13,14,15,16,17,18,19,20,21,22
0,Summary data collected by the Greenhouse Gas R...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,This data was reported to EPA by facilities as...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,All emissions data is presented in units of me...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Facility Id,FRS Id,Facility Name,Basin,Reported City,Reported State,Reported Zip Code,Reported Address,Reported County,Reported Latitude,...,2020 Total reported emissions from Onshore Oil...,2019 Total reported emissions from Onshore Oil...,2018 Total reported emissions from Onshore Oil...,2017 Total reported emissions from Onshore Oil...,2016 Total reported emissions from Onshore Oil...,2015 Total reported emissions from Onshore Oil...,2014 Total reported emissions from Onshore Oil...,2013 Total reported emissions from Onshore Oil...,2012 Total reported emissions from Onshore Oil...,2011 Total reported emissions from Onshore Oil...
4,1000355,110002972506,#540 BONANZA CREEK ENERGY - DENVER BASIN,540 - Denver Basin,Denver,CO,80202,"410 17th Street, Suite 1500",DENVER COUNTY,39.74431,...,293919.042,330937.72,273069.722,242958.734,261382.84,354850.7,243116.642,163013.8,151519.07,17728.25
5,1009263,110067652267,220 Gulf Coast,"220 - Gulf Coast Basin (LA, TX)",Oklahoma City,OK,73114,701 Cedar Lake Blvd,OKLAHOMA COUNTY,35.56719,...,NaN,NaN,NaN,NaN,3181.694,4448.39,3802.892,26409.382,30756.726,84922.622
6,1009238,110014409684,220 Gulf Coast Basin DEC,"220 - Gulf Coast Basin (LA, TX)",Oklahoma City,OK,73102,333 West Sheridan Ave,OKLAHOMA COUNTY,35.466697,...,586008.596,678933.08,811064.85,767413.32,808767.966,747874.26,171273.574,63896.146,94675.778,148424.596
7,1008121,110014409684,230 Arkla Basin DEC,230 - Arkla Basin,Oklahoma City,OK,73102,333 West Sheridan Ave,Oklahoma,35.46734,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21834.364,27839.934,28858.972
8,1009283,110004766129,230 Arkla Basin QEP Energy Company,230 - Arkla Basin,Denver,CO,80265,1050 17th Street Unit 800,NaN,39.748077,...,NaN,NaN,83992.518,102680.944,57168.136,135085.12,149043.056,154266.208,302760.28,348357.764
9,1009117,110067652070,260 East Texas Basin,260 - East Texas Basin,Oklahoma City,OK,73114,701 Cedar Lake Blvd,OKLAHOMA COUNTY,35.56719,...,NaN,NaN,NaN,NaN,NaN,NaN,104.25,11027.4,17101.498,51114.886

In [3]:
# Set columns to header row
oil_gas_df.rename(columns=oil_gas_df.iloc[3], inplace=True)
oil_gas_df.head()

,Facility Id,FRS Id,Facility Name,Basin,Reported City,Reported State,Reported Zip Code,Reported Address,Reported County,Reported Latitude,...,2020 Total reported emissions from Onshore Oil & Gas Production,2019 Total reported emissions from Onshore Oil & Gas Production,2018 Total reported emissions from Onshore Oil & Gas Production,2017 Total reported emissions from Onshore Oil & Gas Production,2016 Total reported emissions from Onshore Oil & Gas Production,2015 Total reported emissions from Onshore Oil & Gas Production,2014 Total reported emissions from Onshore Oil & Gas Production,2013 Total reported emissions from Onshore Oil & Gas Production,2012 Total reported emissions from Onshore Oil & Gas Production,2011 Total reported emissions from Onshore Oil & Gas Production
0,Summary data collected by the Greenhouse Gas R...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,This data was reported to EPA by facilities as...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,All emissions data is presented in units of me...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Facility Id,FRS Id,Facility Name,Basin,Reported City,Reported State,Reported Zip Code,Reported Address,Reported County,Reported Latitude,...,2020 Total reported emissions from Onshore Oil...,2019 Total reported emissions from Onshore Oil...,2018 Total reported emissions from Onshore Oil...,2017 Total reported emissions from Onshore Oil...,2016 Total reported emissions from Onshore Oil...,2015 Total reported emissions from Onshore Oil...,2014 Total reported emissions from Onshore Oil...,2013 Total reported emissions from Onshore Oil...,2012 Total reported emissions from Onshore Oil...,2011 Total reported emissions from Onshore Oil...
4,1000355,110002972506,#540 BONANZA CREEK ENERGY - DENVER BASIN,540 - Denver Basin,Denver,CO,80202,"410 17th Street, Suite 1500",DENVER COUNTY,39.74431,...,293919.042,330937.72,273069.722,242958.734,261382.84,354850.7,243116.642,163013.8,151519.07,17728.25

In [4]:
# Drop top three rows of extraneous info
oil_gas_df = oil_gas_df.drop(range(0,4))
oil_gas_df.head()

,Facility Id,FRS Id,Facility Name,Basin,Reported City,Reported State,Reported Zip Code,Reported Address,Reported County,Reported Latitude,...,2020 Total reported emissions from Onshore Oil & Gas Production,2019 Total reported emissions from Onshore Oil & Gas Production,2018 Total reported emissions from Onshore Oil & Gas Production,2017 Total reported emissions from Onshore Oil & Gas Production,2016 Total reported emissions from Onshore Oil & Gas Production,2015 Total reported emissions from Onshore Oil & Gas Production,2014 Total reported emissions from Onshore Oil & Gas Production,2013 Total reported emissions from Onshore Oil & Gas Production,2012 Total reported emissions from Onshore Oil & Gas Production,2011 Total reported emissions from Onshore Oil & Gas Production
4,1000355,110002972506,#540 BONANZA CREEK ENERGY - DENVER BASIN,540 - Denver Basin,Denver,CO,80202,"410 17th Street, Suite 1500",DENVER COUNTY,39.74431,...,293919.042,330937.72,273069.722,242958.734,261382.84,354850.7,243116.642,163013.8,151519.07,17728.25
5,1009263,110067652267,220 Gulf Coast,"220 - Gulf Coast Basin (LA, TX)",Oklahoma City,OK,73114,701 Cedar Lake Blvd,OKLAHOMA COUNTY,35.56719,...,NaN,NaN,NaN,NaN,3181.694,4448.39,3802.892,26409.382,30756.726,84922.622
6,1009238,110014409684,220 Gulf Coast Basin DEC,"220 - Gulf Coast Basin (LA, TX)",Oklahoma City,OK,73102,333 West Sheridan Ave,OKLAHOMA COUNTY,35.466697,...,586008.596,678933.08,811064.85,767413.32,808767.966,747874.26,171273.574,63896.146,94675.778,148424.596
7,1008121,110014409684,230 Arkla Basin DEC,230 - Arkla Basin,Oklahoma City,OK,73102,333 West Sheridan Ave,Oklahoma,35.46734,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21834.364,27839.934,28858.972
8,1009283,110004766129,230 Arkla Basin QEP Energy Company,230 - Arkla Basin,Denver,CO,80265,1050 17th Street Unit 800,NaN,39.748077,...,NaN,NaN,83992.518,102680.944,57168.136,135085.12,149043.056,154266.208,302760.28,348357.764

In [5]:
# Reset index
oil_gas_df.reset_index(drop=True, inplace=True)
oil_gas_df.head()

,Facility Id,FRS Id,Facility Name,Basin,Reported City,Reported State,Reported Zip Code,Reported Address,Reported County,Reported Latitude,...,2020 Total reported emissions from Onshore Oil & Gas Production,2019 Total reported emissions from Onshore Oil & Gas Production,2018 Total reported emissions from Onshore Oil & Gas Production,2017 Total reported emissions from Onshore Oil & Gas Production,2016 Total reported emissions from Onshore Oil & Gas Production,2015 Total reported emissions from Onshore Oil & Gas Production,2014 Total reported emissions from Onshore Oil & Gas Production,2013 Total reported emissions from Onshore Oil & Gas Production,2012 Total reported emissions from Onshore Oil & Gas Production,2011 Total reported emissions from Onshore Oil & Gas Production
0,1000355,110002972506,#540 BONANZA CREEK ENERGY - DENVER BASIN,540 - Denver Basin,Denver,CO,80202,"410 17th Street, Suite 1500",DENVER COUNTY,39.74431,...,293919.042,330937.72,273069.722,242958.734,261382.84,354850.7,243116.642,163013.8,151519.07,17728.25
1,1009263,110067652267,220 Gulf Coast,"220 - Gulf Coast Basin (LA, TX)",Oklahoma City,OK,73114,701 Cedar Lake Blvd,OKLAHOMA COUNTY,35.56719,...,NaN,NaN,NaN,NaN,3181.694,4448.39,3802.892,26409.382,30756.726,84922.622
2,1009238,110014409684,220 Gulf Coast Basin DEC,"220 - Gulf Coast Basin (LA, TX)",Oklahoma City,OK,73102,333 West Sheridan Ave,OKLAHOMA COUNTY,35.466697,...,586008.596,678933.08,811064.85,767413.32,808767.966,747874.26,171273.574,63896.146,94675.778,148424.596
3,1008121,110014409684,230 Arkla Basin DEC,230 - Arkla Basin,Oklahoma City,OK,73102,333 West Sheridan Ave,Oklahoma,35.46734,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21834.364,27839.934,28858.972
4,1009283,110004766129,230 Arkla Basin QEP Energy Company,230 - Arkla Basin,Denver,CO,80265,1050 17th Street Unit 800,NaN,39.748077,...,NaN,NaN,83992.518,102680.944,57168.136,135085.12,149043.056,154266.208,302760.28,348357.764

In [8]:
# Check columns
oil_gas_df.columns

Index(['Facility Id', 'FRS Id', 'Facility Name', 'Basin', 'Reported City',
       'Reported State', 'Reported Zip Code', 'Reported Address',
       'Reported County', 'Reported Latitude', 'Reported Longitude',
       'Primary NAICS Code', 'Latest Reported Industry Type (subparts)',
       '2020 Total reported emissions from Onshore Oil & Gas Production ',
       '2019 Total reported emissions from Onshore Oil & Gas Production ',
       '2018 Total reported emissions from Onshore Oil & Gas Production ',
       '2017 Total reported emissions from Onshore Oil & Gas Production ',
       '2016 Total reported emissions from Onshore Oil & Gas Production ',
       '2015 Total reported emissions from Onshore Oil & Gas Production ',
       '2014 Total reported emissions from Onshore Oil & Gas Production ',
       '2013 Total reported emissions from Onshore Oil & Gas Production ',
       '2012 Total reported emissions from Onshore Oil & Gas Production ',
       '2011 Total reported emissions from Onshore Oil & Gas Production '],
      dtype='object')

In [11]:
# Drop unwanted columns
df = oil_gas_df.drop(columns=['FRS Id',
                              'Reported Address',
                              'Reported County', 
                              'Reported Latitude', 
                              'Reported Longitude',
                             ])
df.columns

Index(['Facility Id', 'Facility Name', 'Basin', 'Reported City',
       'Reported State', 'Reported Zip Code', 'Primary NAICS Code',
       'Latest Reported Industry Type (subparts)',
       '2020 Total reported emissions from Onshore Oil & Gas Production ',
       '2019 Total reported emissions from Onshore Oil & Gas Production ',
       '2018 Total reported emissions from Onshore Oil & Gas Production ',
       '2017 Total reported emissions from Onshore Oil & Gas Production ',
       '2016 Total reported emissions from Onshore Oil & Gas Production ',
       '2015 Total reported emissions from Onshore Oil & Gas Production ',
       '2014 Total reported emissions from Onshore Oil & Gas Production ',
       '2013 Total reported emissions from Onshore Oil & Gas Production ',
       '2012 Total reported emissions from Onshore Oil & Gas Production ',
       '2011 Total reported emissions from Onshore Oil & Gas Production '],
      dtype='object')

In [13]:
# Rename the columns
col_names = {'Facility Id': 'facility_id', 
             'Facility Name': 'facility_name', 
             'Basin': 'basin', 
             'Reported City': 'city', 
             'Reported State': 'state', 
             'Reported Zip Code': 'zip_code',
             'Primary NAICS Code': 'primary_naics_code',
       'Latest Reported Industry Type (subparts)': 'industry_type_subpart',
       '2020 Total reported emissions from Onshore Oil & Gas Production ': 'total_emissions_2020',
       '2019 Total reported emissions from Onshore Oil & Gas Production ': 'total_emissions_2019',
       '2018 Total reported emissions from Onshore Oil & Gas Production ': 'total_emissions_2018',
       '2017 Total reported emissions from Onshore Oil & Gas Production ': 'total_emissions_2017',
       '2016 Total reported emissions from Onshore Oil & Gas Production ': 'total_emissions_2016',
       '2015 Total reported emissions from Onshore Oil & Gas Production ': 'total_emissions_2015',
       '2014 Total reported emissions from Onshore Oil & Gas Production ': 'total_emissions_2014',
       '2013 Total reported emissions from Onshore Oil & Gas Production ': 'total_emissions_2013',
       '2012 Total reported emissions from Onshore Oil & Gas Production ': 'total_emissions_2012',
       '2011 Total reported emissions from Onshore Oil & Gas Production ': 'total_emissions_2011'}
df.rename(columns=col_names, inplace=True)

In [14]:
df.head()

,facility_id,facility_name,basin,city,state,zip_code,primary_naics_code,industry_type_subpart,total_emissions_2020,total_emissions_2019,total_emissions_2018,total_emissions_2017,total_emissions_2016,total_emissions_2015,total_emissions_2014,total_emissions_2013,total_emissions_2012,total_emissions_2011
0,1000355,#540 BONANZA CREEK ENERGY - DENVER BASIN,540 - Denver Basin,Denver,CO,80202,211120,W-ONSH,293919.042,330937.72,273069.722,242958.734,261382.84,354850.7,243116.642,163013.8,151519.07,17728.25
1,1009263,220 Gulf Coast,"220 - Gulf Coast Basin (LA, TX)",Oklahoma City,OK,73114,211111,W-ONSH,NaN,NaN,NaN,NaN,3181.694,4448.39,3802.892,26409.382,30756.726,84922.622
2,1009238,220 Gulf Coast Basin DEC,"220 - Gulf Coast Basin (LA, TX)",Oklahoma City,OK,73102,211120,W-ONSH,586008.596,678933.08,811064.85,767413.32,808767.966,747874.26,171273.574,63896.146,94675.778,148424.596
3,1008121,230 Arkla Basin DEC,230 - Arkla Basin,Oklahoma City,OK,73102,211111,W-ONSH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21834.364,27839.934,28858.972
4,1009283,230 Arkla Basin QEP Energy Company,230 - Arkla Basin,Denver,CO,80265,211130,W-ONSH,NaN,NaN,83992.518,102680.944,57168.136,135085.12,149043.056,154266.208,302760.28,348357.764

In [17]:
df.tail()

,facility_id,facility_name,basin,city,state,zip_code,primary_naics_code,industry_type_subpart,total_emissions_2020,total_emissions_2019,total_emissions_2018,total_emissions_2017,total_emissions_2016,total_emissions_2015,total_emissions_2014,total_emissions_2013,total_emissions_2012,total_emissions_2011
844,1008232,YPC 535 Green River Basin,535 - Green River Basin,Artesia,NM,88210,211111,W-ONSH,NaN,NaN,NaN,NaN,13971.944,33990.086,44747.288,40908.05,36944.348,42213.496
845,1013913,"Zarvona Energy, LLC",430 - Permian Basin,HOUSTON,TX,77002,211120,W-ONSH,176333.826,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
846,1013936,"Zarvona Energy, LLC (220) Gulf Coast Basin","220 - Gulf Coast Basin (LA, TX)",HOUSTON,TX,77002,211120,W-ONSH,55726.668,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
847,1013771,"Zavanna, LLC Williston Basin (395) Operations",395 - Williston Basin,Denver,CO,80202,211120,W-ONSH,154584.02,222764.012,139071.762,94372.1,123021.176,155444.766,NaN,NaN,NaN,NaN
848,1009162,"Zenergy, Inc., Code 395, Williston Basin",395 - Williston Basin,Tulsa,OK,74136,211111,W-ONSH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,165694.222,110888.946

In [15]:
# Check datatypes
df.dtypes

facility_id              object
facility_name            object
basin                    object
city                     object
state                    object
zip_code                 object
primary_naics_code       object
industry_type_subpart    object
total_emissions_2020     object
total_emissions_2019     object
total_emissions_2018     object
total_emissions_2017     object
total_emissions_2016     object
total_emissions_2015     object
total_emissions_2014     object
total_emissions_2013     object
total_emissions_2012     object
total_emissions_2011     object
dtype: object

In [16]:
# Convert datatypes
df.astype({'total_emissions_2020': 'float64',
           'total_emissions_2019': 'float64',
           'total_emissions_2018': 'float64',
           'total_emissions_2017': 'float64',
           'total_emissions_2016': 'float64',
           'total_emissions_2015': 'float64',
           'total_emissions_2014': 'float64',
           'total_emissions_2013': 'float64',
           'total_emissions_2012': 'float64',
           'total_emissions_2011': 'float64'
          }).dtypes

facility_id               object
facility_name             object
basin                     object
city                      object
state                     object
zip_code                  object
primary_naics_code        object
industry_type_subpart     object
total_emissions_2020     float64
total_emissions_2019     float64
total_emissions_2018     float64
total_emissions_2017     float64
total_emissions_2016     float64
total_emissions_2015     float64
total_emissions_2014     float64
total_emissions_2013     float64
total_emissions_2012     float64
total_emissions_2011     float64
dtype: object

In [22]:
# Inspect the df
#df.describe()
df.count()

facility_id              849
facility_name            849
basin                    837
city                     849
state                    849
zip_code                 849
primary_naics_code       849
industry_type_subpart    849
total_emissions_2020     468
total_emissions_2019     490
total_emissions_2018     507
total_emissions_2017     502
total_emissions_2016     518
total_emissions_2015     538
total_emissions_2014     570
total_emissions_2013     509
total_emissions_2012     507
total_emissions_2011     459
dtype: int64

In [ ]:
# Export to CSV without the index
#df.to_csv('onshore_oil_gas.csv', index=False)